<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Google Tag Manager</label>
    <label lang="en">Google Tag Manager</label>
    <version>5.1.4</version>
    <copyright>(c) by netlogix GmbH &amp; Co. KG</copyright>
    <license>Proprietary</license>
    <link>https://websolutions.netlogix.de/</link>
    <author>netlogix GmbH &amp; Co. KG</author>

    <description lang="de">
        Plugin, um Google Tag Manager Funktionalität zu implementieren
    </description>
    <description lang="en">
        Plugin to implement Google Tag Manager functionality
    </description>

    <compatibility minVersion="5.6" />

    <changelog version="1.0.0">
        <changes lang="de">Erste Veröffentlichung</changes>
        <changes lang="en">Initial Release</changes>
    </changelog>
    <changelog version="1.1.0">
        <changes lang="de">Option hinzugefügt, welche erlaubt, auch ohne "cookieStrategy"-Cookie zu tracken</changes>
        <changes lang="en">Added option to allow tracking without the "cookieStrategy"-cookie</changes>
    </changelog>
    <changelog version="1.1.1">
        <changes lang="de">Bugfix, sodass das ignorieren der CookieStrategy auch korrekt funktioniert</changes>
        <changes lang="en">Bugfix, to really ignore the CookieStrategy</changes>
    </changelog>
    <changelog version="1.1.2">
        <changes lang="de">Bugfix: Fehlende Prüfung, ob die CookieStrategy berücksichtigt werden soll, hinzugefügt</changes>
        <changes lang="en">Bugfix: Add missing check if cookie strategy should be ignored</changes>
    </changelog>
    <changelog version="1.1.3">
        <changes lang="de">Bugfix: Anpassungen an den Werten, sodass ein ' in einem Artikelnamen keine Probleme verursacht</changes>
        <changes lang="en">Bugfix: Changes to prevent errors when article names contains a '</changes>
    </changelog>
    <changelog version="2.0.0">
        <changes lang="de">Support für Shopware Cookie Consent Manager implementiert</changes>
        <changes lang="en">Implemented support for Shopware cookie consent manager</changes>
    </changelog>
    <changelog version="3.0.0">
        <changes lang="de">Plugin zu Netlogix Struktur migriert</changes>
        <changes lang="en">Plugin migrated to Netlogix structure</changes>
    </changelog>
    <changelog version="3.1.0">
        <changes lang="de">Lade den Google Tag Manager nachdem der Cookie Hinweis akzeptiert wurde</changes>
        <changes lang="en">Load the Google Tag Manager after the cookie notice has been accepted</changes>
    </changelog>
    <changelog version="3.2.0">
        <changes lang="de">Möglichkeit hinzugefügt, Tag Manager als technisch notwendig anzuzeigen und Analytics seperat an-/abzuwählen</changes>
        <changes lang="en">Added the option of declaring the Tag Manager as technically required and select/deselect Analytics separately</changes>
    </changelog>
    <changelog version="3.2.1">
        <changes lang="de">Bugfix: Die Variable 'gaData' mit 'nlxGoogleTagManagerTrackingId' austauschen, weil `gaData` nicht existiert</changes>
        <changes lang="en">Bugfix: Replace the varable 'gaData' with 'nlxGoogleTagManagerTrackingId' because 'gaData' not exist</changes>
    </changelog>
    <changelog version="3.3.0">
        <changes lang="de">Opt out für google analytics 4 hinzufügen</changes>
        <changes lang="en">Add opt out for google analytics 4</changes>
    </changelog>
    <changelog version="3.4.0">
        <changes lang="de">Opt out für google analytics 3 hinzufügen</changes>
        <changes lang="en">Add opt out for google analytics 3</changes>
    </changelog>
    <changelog version="3.4.1">
        <changes lang="de">Opt out Flag für google analytics 3 setzen</changes>
        <changes lang="en">Set opt out flag for google analytics 3</changes>
    </changelog>
    <changelog version="4.0.0">
        <changes lang="de">Shopware 5.7.x Support</changes>
        <changes lang="en">Shopware 5.7.x support</changes>
    </changelog>
    <changelog version="5.0.0">
        <changes lang="de">Google UA4 Unterstützung hinzugefügt</changes>
        <changes lang="en">Add Google UA4 Support</changes>
    </changelog>
    <changelog version="5.1.0">
        <changes lang="de">Plugin Beschreibung hinzugefügt</changes>
        <changes lang="en">Added plugin description</changes>
    </changelog>
    <changelog version="5.1.1">
        <changes lang="de">Fehler beim tracken des Checkouts behoben</changes>
        <changes lang="en">Fixed error that occurred during checkout</changes>
    </changelog>
    <changelog version="5.1.2">
        <changes lang="de">Fehler im Data Layer beheben</changes>
        <changes lang="en">Fixed data layer</changes>
    </changelog>
    <changelog version="5.1.3">
        <changes lang="de">Block checkout_ajax_add_to_cart_event für benutzerdefinierte Verwendung hinzugefügt</changes>
        <changes lang="en">Add checkout_ajax_add_to_cart_event block for custom use</changes>
    </changelog>
    <changelog version="5.1.4">
        <changes lang="de">Beachte mehrere Akzeptier-Möglichkeiten im Cookie Consent um den Google Tag Manager nachzuladen</changes>
        <changes lang="en">Observe several acceptance buttons in Cookie Consent to load the Google Tag Manager</changes>
    </changelog>
</plugin>
