<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../../engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="text" scope="shop">
            <name>nlxGoogleTagManagerTrackingId</name>
            <label lang="de">Google Tag Manager tracking id</label>
            <label lang="en">Google tag manager tracking id</label>
            <value>GTM-XXXX</value>
        </element>
        <element type="text" scope="shop">
            <name>nlxGoogleAnalyticsMeasurementId</name>
            <label lang="de">Google Analytics measurement id</label>
            <label lang="en">Google Analytics measurement id</label>
            <value>UA-XXXXXXXX-Y</value>
        </element>
        <element type="text" scope="shop">
            <name>nlxGoogleAnalytics4MeasurementId</name>
            <label lang="de">Google Analytics 4 measurement id</label>
            <label lang="en">Google Analytics 4 measurement id</label>
            <value>G-XXXX</value>
        </element>
        <element type="boolean" scope="shop">
            <name>nlxGoogleTagManagerRemarketingEnabled</name>
            <label lang="de">Remarketing Parameter einbinden?</label>
            <label lang="en">Remarketing parameters included?</label>
            <value>false</value>
        </element>
        <element type="boolean" required="true">
            <name>nlxGoogleTagManagerUseCookieConsentManager</name>
            <label lang="de">Shopware Cookie Consent Manager verwenden?</label>
            <label lang="en">Use Shopware cookie consent manager?</label>
            <value>false</value>
        </element>
        <element type="boolean" scope="shop">
            <name>nlxGoogleTagManagerIsTagManagerRequired</name>
            <label lang="de">Wird der Google Tag Manager aus technischer Sicht benötigt</label>
            <label lang="en">Is Google Tag Manager required from a technical viewpoint?</label>
            <value>false</value>
        </element>
        <element type="boolean" scope="shop">
            <name>nlxGoogleTagManagerUsercentricsIntegrationEnabled</name>
            <label lang="de">Usercentrics integration aktivieren</label>
            <label lang="en">Enable usercentrics integration</label>
            <value>false</value>
        </element>
    </elements>
</config>
